Repository Kong/public-shared-renovate, changes with the owners that CODEOWNERS names for each.
All owners: @baumac, @adamdehaven, @ValeryG, @bartsmykla, @slonka, @lukidzi, @curiositycasualty, @Water-Melon, @fffonion

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @baumac @adamdehaven @ValeryG

# Please open a PR to add yourself to a package you would like to help maintain/contribute to!

/kong-frontend-config.json @baumac @adamdehaven @ValeryG

/github-actions.json @bartsmykla @baumac @slonka @lukidzi

/backend.json @bartsmykla @baumac @slonka @lukidzi

/go.json @bartsmykla @baumac @slonka @lukidzi

/makefile.json @bartsmykla @baumac @slonka @lukidzi

/gateway.json5 @curiositycasualty @Water-Melon @fffonion

feat: group fe deps
  kong-frontend-config.json
Owners: @baumac, @adamdehaven, @ValeryG

feat(renovate): expand regex manager to support shared-actions/actions
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

chore: group more deps
  kong-frontend-config.json
Owners: @baumac, @adamdehaven, @ValeryG

fix: group playwright deps
  kong-frontend-config.json
Owners: @baumac, @adamdehaven, @ValeryG

chore: adjust preset to only cover public-shared-actions
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

fix(renovate): adjust version extraction for public-shared-actions
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

chore: revert some unrelated changes
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

fix(github-actions): extend regex and use semver-coerced for actions
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

chore: improve the matchStrings regex
  github-actions.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

feat(presets): add changed-files preset and adopt official makefile mgr
  backend.json
  github-actions-changed-files.json
  github-actions.json
  go.json
  makefile.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi, @adamdehaven, @ValeryG

chore: replace extended preset with `:disableRateLimiting`
  backend.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi
